- var colForList = "col-md-6"

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/index.css")
    script(src="js/index.js")
  body
    p Hello world!!!
    p Hello again!!!
    ul
      li(class=colForList) list 1
      li list 2
      li list 3
      li list 4
      li list 5
      li list 6
